Create A DataFrame by iterating and inserting rows

In [3]:
import pandas as pd
from random import randint

In [4]:
columns = ['a', 'b', 'c']

In [5]:
df = pd.DataFrame(columns=columns)

In [6]:
for i in range(5):
    df.loc[i] = [randint(-1,1) for n in range(3)]

In [7]:
df

     a    b    c
0  0.0 -1.0 -1.0
1  1.0  1.0  0.0
2  1.0 -1.0  1.0
3 -1.0  1.0  1.0
4 -1.0 -1.0  1.0