Create A DataFrame from csv file

In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame.from_csv('./data/sample_data.csv', index_col=False)

In [3]:
df

   col_1  col_2  target
0   0.11   0.22       1
1   0.10   0.20       1
2   0.90   0.80       0

In [4]:
df_2 = pd.DataFrame.from_csv('./data/sample_data_2.csv', index_col=False, header=None)

In [5]:
df_2

      0     1  2
0  0.11  0.22  1
1  0.10  0.20  1
2  0.90  0.80  0

In [6]:
df_2.columns = ['col_1', 'col_2', 'taget']

In [7]:
df_2

   col_1  col_2  taget
0   0.11   0.22      1
1   0.10   0.20      1
2   0.90   0.80      0