Drop columns or pop columns from a dataframe

In [1]:
import pandas as pd
df = pd.DataFrame([['AA', 1],['BB', 2],['CC', 3]], columns = ['name','value'])

In [2]:
df

  name  value
0   AA      1
1   BB      2
2   CC      3

In [3]:
df.drop('value', axis=1, inplace=True)

In [4]:
df

  name
0   AA
1   BB
2   CC

In [5]:
df = pd.DataFrame([['AA', 1],['BB', 2],['CC', 3]], columns = ['name','value'])

In [6]:
df

  name  value
0   AA      1
1   BB      2
2   CC      3

In [7]:
values = df.pop('value')

In [8]:
df

  name
0   AA
1   BB
2   CC

In [9]:
values

0    1
1    2
2    3
Name: value, dtype: int64